@import 'reset';
@import 'fonts';
$text_color:white;

body {
  background-color:white;
  font-family: 'Gerstner Programm', sans-serif;
  font-size:14px;
  line-height: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow:hidden;
}

body, div, p, h1, h2, h3 {
  color:$text_color;
}

p, span, li {
  word-break: keep-all;
}

@mixin absolute_middle {
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

@mixin absolute_center {
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

@mixin absolute_center_middle {
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


@mixin regular_type {
  font-family: 'Gerstner Programm', sans-serif;
  font-size: 1em;
  line-height:1.3em;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

body, div, p, ol, li {

  font-family: 'Gerstner Programm', sans-serif;
  font-size: 1em;
  line-height:1.3em;
  font-style: normal;
  font-weight: 400;
  color: black;
  text-rendering: optimizeLegibility;
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(150, 150, 150, 0.5);
  border: 9px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(150, 150, 150, 0.8);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(150, 150, 150, 0.8);
}

::-webkit-scrollbar-track {
  background: #EFEFEF;
  border: 0px none #AAAAAA;
  border-radius: 36px;
}
::-webkit-scrollbar-track:hover {
  background: #DFDFDF;
}
::-webkit-scrollbar-track:active {
  background: #EEEEEE;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


input {  
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color auto 0px;
  border:none;
} 

a {
  text-decoration: none;
  color:$text_color;
}

a:hover, a:focus {
  opacity:.5;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.coverage-graph {
  position:fixed;
  right: 150px;
  padding-top:10px;
  padding-left: 20px;
  top: 10px;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.7);
}

b {
  font-weight: 700;
  color: $text_color;
}

.fl {
  float:left;
}

.marker {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 10px;
}

.bold {
  font-size:1.0em;
}

.fr {
  float:right;
}

.l-apple-box {
  height:20px;
}


.l-apple-box--half {
  height:10px;
}

.l-apple-box--double {
  height:40px;
}

br.clearing {
  clear:both !important;
}

sup {
  font-size:0.6em;
  position:relative;
  top:-0.6em;
}

.linear-activity {
    overflow: hidden;
    width: 100%;
    height: 3px;
    background-color: rgba(0, 0, 0, 1);
    // margin: 20px auto;
}


.indeterminate {
    position: relative;
    width: 100%;
    height: 100%;
}

.indeterminate:before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: darken(white, 20);
    animation: indeterminate_first 1.5s infinite ease-out;
}

@keyframes indeterminate_first {
    0% {
        left: -100%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}


.summary-page {
  padding: 30px;
}

.summary-title {
  font-weight:bold;
  font-size:1.2em;
  margin-bottom:20px;
}

.summary-container {
  margin-bottom: 50px;
}

.Typist .Cursor {
  display: inline-block; }
  .Typist .Cursor--blinking {
    opacity: 1;
    animation: blink 1s linear infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
